.one{
    width: 100%;
    height: 40px;
    background-color: white;
}
.one a {
    list-style: none;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
    padding: 50px;
    margin-top: -45px;
    /* margin-left: 130px; */
    font-size: 20px;
}    
a:visited{
    color: rgb(255, 123, 8);
    background-color: brown;
}
a:hover{
    cursor: pointer;
    background-color: yellow;
    text-decoration: underline;
}
a:active{
    color: blue;
}
a:link{
    color: blueviolet;
}
body{
    margin: 0;
}
.two img{
    margin: 0;
    width: 100%;
    height: 500px;
}
h1:first-child{
    color: orange;
    background-color: blueviolet;
    text-align: center;
    text-decoration: underline;
}
div:last-child{
    color: blue;
    font-size: 20px;
}
